@import url('https://fonts.cdnfonts.com/css/tw-cen-mt-condensed');

.App {
  height: 100%;
  margin: 0 auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


.item {
  justify-content: center;
  align-items: center;
  display: flex;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eef7fb;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  background-position: center ;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background-image{

  background-image: url('../src/background.png');
  width: 100% ;
}

.bgTransparent{
  top: -240px;
  width: 100%;
  height: 100px;
  background-color: rgba(173, 216, 230, 0.271);
  position: absolute;
  text-align: center;
}
.Heading {
position: relative;
font-family: 'tw cent mt';
font-weight: bold;
font-size: 32px;
}



